<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col >
          <ion-card >
              <ion-img src="/assets/img/akudom.png"></ion-img>
          </ion-card>
        </ion-col>

        <ion-col>
            <ion-card >
              <ion-img src="/assets/img/akudom.png"></ion-img>
            </ion-card>
          </ion-col>

          <ion-col>
              <ion-card >
                  <ion-img src="/assets/img/akudom.png"></ion-img>
              </ion-card>
            </ion-col>

            <ion-col>
                <ion-card >
                    <ion-img src="/assets/img/akudom.png"></ion-img>
                </ion-card>
              </ion-col>

              <ion-col>
                  <ion-card >
                      <ion-img src="/assets/img/akudom.png"></ion-img>
                  </ion-card>
                </ion-col>
      </ion-row>



      <!-- second row -->

      <ion-row>
          <ion-col>
            <ion-card >
                <ion-img src="/assets/img/akudom.png"></ion-img>
            </ion-card>
          </ion-col>
  
          <ion-col>
              <ion-card >
                <ion-img src="/assets/img/akudom.png"></ion-img>
              </ion-card>
            </ion-col>
  
            <ion-col>
                <ion-card >
                    <ion-img src="/assets/img/akudom.png"></ion-img>
                </ion-card>
              </ion-col>

              <ion-col>
                  <ion-card >
                      <ion-img src="/assets/img/akudom.png"></ion-img>
                  </ion-card>
                </ion-col>

                <ion-col>
                    <ion-card >
                        <ion-img src="/assets/img/akudom.png"></ion-img>
                    </ion-card>
                  </ion-col>
        </ion-row>


        <!--third row -->

        <ion-row>
            <ion-col>
              <ion-card >
                  <ion-img src="/assets/img/akudom.png"></ion-img>
              </ion-card>
            </ion-col>
    
            <ion-col col-4>
                <ion-card >
                  <ion-img src="/assets/img/akudom.png"></ion-img>
                </ion-card>
              </ion-col>
          </ion-row>
    </ion-grid>
  </ion-content>